@charset "utf-8";
/* CSS-Dokument für Schreinerei Meier, 
   bitte im Verzeichnis /css speichern und mit src="css/formate.css" einbinden! 
*/

body {
	max-width: 60em;
	margin: 1em auto;
	background-color: beige;
}

h1 {
	font-size: 2.5em; 
	font-family: cursive; 
	background-color: orange; 
	text-align: center;
}

h2 {
	font-size: 2.2em; 
	font-family: cursive; 
	background-color: yellow; 
	text-align: center;
}

p {
	font-size: 1.3em;
	text-align: justify;
	font-family: sans-serif;
	color: brown;
}

table, 
	ul {
	font-size: 1.3em;
	}
	ul ul{
		font-size: inherit;
	}
	
#angebot {
	background-color: firebrick;
	margin: 1em 3em;	/* Legt den Außenrand UM die Box fest */
	padding: 1em;		/* Legt den Innenrand IN der Box fest */
	width: 10em;		/* Legt die Breite der Box fest */
	text-align: center;
}

#angebot h3 {
	font-size: 2em;
	font-variant: small-caps;
	color: lightyellow;
}

#angebot p {
 color: white;
}
@media (min-width: 30em){
	#leistungen {
		display: grid;
		grid-template-columns: 1fr 15.5em;
	}

	#leistungen h2 {
		grid-column: 1 / -1;
	}
}